@model MyEgitimAkademiPortfolioo.Models.About

@{
    ViewBag.Title = "UpdateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Özellik Ekranı Güncelleme</h2>


<form method="post">
    <div>
        <div>

            <label>Id</label>
            @Html.TextBoxFor(x => x.AboutID, new { @class = "form-control" })
            <label>İsim Soyisim</label>
            @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
            <label>Başlık</label>
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
            <label>Açıklama</label>
            @Html.TextBoxFor(x => x.Introduction, new { @class = "form-control" })
            <label>Tanımlama</label>
            @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
        

            <div>
                <br />
                <button class="btn btn-outline-success">Güncelle</button>
            </div>
        </div>
    </div>

</form>
